.brand-wrap{
    height: 5vh;
    padding-top: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.my-sidebar{
    margin: 16px;
    border-radius: 20px;
    background-color: #ecf0f1;
    
}

.dark-mode .my-sidebar{
    background-color:  #191c20;
}