/* Provide sufficient contrast against white background */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
#root{
    height: 100%;
    overflow: auto;
}


a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.badge.badge {
    color: #fff;
    border: none;
    padding: 0.6vh;
    width: 12vh !important;
    text-align: center;
}

.form-control {
    line-height: normal;
}

.form-control.form-control-sm.status {
    width: fit-content;
}

th.max, td.max {
    width: auto;
}

th.min, td.min {
    width: 0.1% !important;
    white-space: nowrap;
}

.loaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-group {
    position: fixed;
    top: 4em;
    right: 4em;
    z-index: 10;
}
.float-group-bottom {
    position: fixed;
    top: 50em;
    right: 4em;
    z-index: 10;
}
.alert-fixed {
    position: fixed;
    top: 40%;
    left: 40%;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}
.blue{
  background-color: blue;
}

.red{
  background-color: red;
}
.green{
  background-color: lawngreen;
}

.overflow-auto{
    overflow: auto;
}

.overflow-hidden{
    overflow: hidden;
}

.h100{
    height: 100%;
}

.pieChart {
    margin-top: -75px;
    margin-bottom: -75px;
}

.card {
    background-color: #ECF0F1;
    border: none;
}

.card.user {
    background-color: #007FAD;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 7vh;
    margin-left: 3vw;
    padding: 10px;
}
.grid-container > div {
        padding: 20px 0;
        cursor: pointer
}
.select-project {
    margin-right: 35px;
    margin-left:35px;
    width: 40%;
    text-align: center;
}
#select-span {
    align-items:end;
}

.cust-lg-btn{
    height: 5em!important;
    width: 5em!important;
}
.folder-card {
    border-style: solid;
    border-color: black;
    padding: 20px 0; 
    border-radius: 20px;
    /*box-shadow: 3px 5px;*/
}
.folder-icon{
    margin-bottom: -20px;
    margin-right: 15px
}
.folder-buttons {
    margin-top: -2vh;
}
.folder-open{
    display:none;
}
.folder-close {
}